

body, p, ol, ul, td {
  font-family: Verdana,sans-serif;
  font-size:   13px;
  line-height: 18px;
}

.data_table {
	text-align: center;
        border-collapse: collapse; 
	border-spacing: 0;
	width=85%
}

.button_table {
	text-align: center;
	border-spacing: 10;
	width=85%
}

th {
	background: #EFEFEF;
	text-align: left;
}

h2 {
  font-family: Verdana,sans-serif;
  font-size:   30px;
  color:  #0D4988; 
  line-height: 30px;
  text-align: center;
}
h1 {
  font-family: Verdana,sans-serif;
  font-size:   18px;
  line-height: 20px;
  text-align: center;
}

h3 {
  font-family: Verdana,sans-serif;
  font-size:   12px;
  line-height: 24px;
  text-align: center;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
#a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#ErrorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

img
{
 border-style: none;
} 

.trigger { cursor: pointer; cursor: hand;}
.branch  { display: none; margin-left: 16px; }
.TotalLine{ background: #EFEFEF;  font-weight: bold; }
.GrandTotalLine{ background: #FFFFCC; font-weight: bold; }
.line_style0{background: #EFEFEF  }
.line_style1{background: #FFFFCC}

